*{
    margin:0;
    padding:0;

}
body{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(45deg,#0a0a0a,#3a4452)
}
.calculator{border:1px solid #717377;
    padding:10px;
    border-radius: 16px;
    background: transparent;
    box-shadow:0px 3px 5px rgba(23,115,119,0.9);

}
input{
    width:350px;
    color:white;
    padding:24px;
    margin:10px;
    background:transparent;
    border:none;
    border-radius: 20px;
    box-shadow:0px 3px 15px rgba(85,85,85,0.4);
    font-size:40px;
    text-align:right;
}
input::placeholder{
    color:aliceblue;
}
button{
    border:none;
    width:70px;
    height: 60px;
    padding:10px;
    margin: 10px;
    border-radius:50%;
    background:transparent;
    color:aliceblue;
    font-size:25px;
    box-shadow:8px 8px 15px rgba(255,255,255,0.2);
    cursor:pointer;
}
.equalBtn{
    background-color:orange;
}
.operator{
    color:rgb(6, 245, 6);
}